/* DragDrop */

.dragdrop-main-container {
  display: flex;
  flex-direction: row;
  /* height: 73vh; */
}

.placeholders-main-container {
  border: 4px solid;
  border-color: rgba(76, 255, 116, 0.8);
  width: 55%;
  background-color: white;
  position: relative;
  margin: 0 100px 0px 150px;
  height: 65vh;
}

.placeholder-one {
  position: absolute;
  left: 18%;
  bottom: 15%;
  width: 15%;
  height: 10%;
}

.placeholder-two {
  position: absolute;
  /* right: 90%; */
  left: 0%;
  bottom: 75%;
  width: 10%;
  height: 15%;
}

.placeholder-three {
  position: absolute;
  /* right: 79%; */
  left: 0%;
  top: 0px;
  width: 26%;
  height: 10%;
}

.placeholder-four {
  position: absolute;
  right: 38%;
  top: 0%;
  width: 36%;
  height: 10%;
}

.placeholder-five {
  position: absolute;
  top: 10%;
  /* right: 30%; */
  right:0%;
  width: 12.6%;
  height: 20%;
}

.placeholder-six {
  position: absolute;
  top: 30%;
  /* right: 30%; */
  right: 0%;
  width: 12.6%;
  height: 20%;
}

.placeholder-seven {
  position: absolute;
  bottom: 25%;
  left: 40%;
  width: 13%;
  height: 40%;
}

.supermarket-main-container {
  background-color: white;
  max-width: 200px;
  width: 100%;
}

.roomUser__profile--pic {
  border-radius: 100%;
  margin: 10px;
  display: inline;
  height: 80px;
}
.roomUsersDiv {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 5px;
  background: linear-gradient(0deg, rgba(76, 255, 116, 0.5), rgba(76, 255, 116, 0.5)), linear-gradient(180deg, rgba(36, 130, 50, 0.5) 0%, rgba(43, 168, 74, 0.5) 419.5%);
  border-radius: 20px;
}

.roomUserDiv {
  display: inline-block;
}
