/* DragDrop */

.dragdrop-main-container {
  display: flex;
  flex-direction: row;
  height: 73vh;
}

.placeholders-main-container {
  border: 2px solid red;
  max-width: 1200px;
  width: 100%;
  background-color: white;
}

.supermarket-main-container {
  background-color: white;
  max-width: 390px;
  width: 100%;
}

img{
  border-radius: 100%;
  margin: 10px;
  display: inline;
  height: 80px;
}
.roomUsersDiv{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 5px;
  background: rgb(153, 176, 226);
  border-radius: 20px;
}
.roomUserDiv{
  display: inline-block;
}