.supermarketImg2 {
  width: 100%;
  height: 100%;
  position: relative;
  /* right: 5px; */
}

.dragdrop-main-container2 {
  display: flex;
  flex-direction: row;
  height: 67vh;
}

.placeholders2-main-container {
  border: 4px solid;
  position: relative;
  border-image: linear-gradient(
      119.39deg,
      rgba(76, 255, 116, 0.8) 0%,
      rgba(0, 223, 192, 0.8) 18.2%,
      rgba(87, 245, 169, 0.8) 35.55%,
      rgba(0, 200, 172, 0.8) 51.33%,
      rgba(93, 247, 163, 0.8) 67.63%,
      rgba(0, 223, 192, 0.8) 81.83%,
      rgba(164, 245, 236, 0.8) 100.98%
    )
    1;
  width: 55%;
  background-color: white;
  margin: 0px 10px 0px 40px;
}

.placeholder2-one {
  position: absolute;
  left: 3.2%;
  top: 23%;
  text-align: center;
  padding-bottom: 50px;
}

.placeholder2-two {
  position: absolute;
  left: 3.2%;
  top: 36%;
  text-align: center;
  padding-bottom: 50px;
}

.placeholder2-three {
  position: absolute;
  left: 3.2%;
  top: 49%;
  text-align: center;
  padding-bottom: 50px;
}

.placeholder2-four {
  position: absolute;
  left: 3.2%;
  top: 62%;
  text-align: center;
  padding-bottom: 50px;
}

.placeholder2-five {
  position: absolute;
  left: 3.2%;
  top: 75%;
  text-align: center;
  padding-bottom: 50px;
}

.placeholder2-six {
  position: absolute;
  top: 23%;
  left: 26%;
  text-align: center;
  padding-bottom: 50px;
}

.placeholder2-seven {
  position: absolute;
  left: 26%;
  top: 36%;
  text-align: center;
  padding-bottom: 50px;
}

.placeholder2-eight {
  position: absolute;
  left: 26%;
  top: 49%;
  text-align: center;
  padding-bottom: 50px;
}

.placeholder2-nine {
  position: absolute;
  left: 26%;
  top: 62%;
  text-align: center;
  padding-bottom: 50px;
}

.placeholder2-ten {
  position: absolute;
  left: 26%;
  top: 75%;
  text-align: center;
  padding-bottom: 50px;
}

.placeholder2-eleven {
  position: absolute;
  top: 24%;
  left: 73%;
  text-align: center;
  padding-bottom: 50px;
}

.placeholder2-twelve {
  position: absolute;
  left: 73%;
  top: 37%;
  text-align: center;
  padding-bottom: 50px;
}

.placeholder2-thirteen {
  position: absolute;
  left: 73%;
  top: 50%;
  text-align: center;
  padding-bottom: 50px;
}

.placeholder2-fourteen {
  position: absolute;
  top: 63%;
  left: 73%;
  text-align: center;
  padding-bottom: 50px;
}

.placeholder2-fifteen {
  position: absolute;
  top: 76%;
  left: 73%;
  text-align: center;
  padding-bottom: 50px;
}

.supermarket2-main-container {
  background-color: white;
  /* max-width: 200px; */
  width: 30%;
  border: 4px solid rgba(76, 255, 116, 0.8);
  padding: 1vw;
  position: relative;
  /* margin: 30px 10px 0px 0px; */
  border-image: linear-gradient(
      119.39deg,
      rgba(76, 255, 116, 0.8) 0%,
      rgba(0, 223, 192, 0.8) 18.2%,
      rgba(87, 245, 169, 0.8) 35.55%,
      rgba(0, 200, 172, 0.8) 51.33%,
      rgba(93, 247, 163, 0.8) 67.63%,
      rgba(0, 223, 192, 0.8) 81.83%,
      rgba(164, 245, 236, 0.8) 100.98%
    )
    1;
}

.roomUsersDiv {
  margin-right: 10px;
  border-radius: 10px;
  position: relative;
  top: 14%;
  height: 55vh;
  width: 80px;
  background: linear-gradient(
      0deg,
      rgba(76, 255, 116, 0.5),
      rgba(76, 255, 116, 0.5)
    ),
    linear-gradient(
      180deg,
      rgba(36, 130, 50, 0.5) 0%,
      rgba(43, 168, 74, 0.5) 419.5%
    );
}

.roomUser__profile--pic {
  border-radius: 100%;
  position: relative;
  margin: 10px;
  display: inline;
  width: 60px;
}
.roomUserDiv {
  display: inline-block;
}
/* .supermarket-main-container {
  position: relative;
  background-color: white;
  width: 30%;
  border: 4px solid;
  border-image: linear-gradient(
      119.39deg,
      rgba(76, 255, 116, 0.8) 0%,
      rgba(0, 223, 192, 0.8) 18.2%,
      rgba(87, 245, 169, 0.8) 35.55%,
      rgba(0, 200, 172, 0.8) 51.33%,
      rgba(93, 247, 163, 0.8) 67.63%,
      rgba(0, 223, 192, 0.8) 81.83%,
      rgba(164, 245, 236, 0.8) 100.98%
    )
    1;
  padding: 1vw;
} */
/* 
.question-item0{

} */

.questions-rules2{
  padding: 15px;
  margin: 0px;
  font-size: 14px;
  color: gray;
}
.question-item-set2 {
  position: relative;
  top: 15px;
  height: 150px;
  overflow-y: scroll;
}

.question-item20 {
  position: absolute;
  border-radius: 5px;
  left: 4%;
  width: 45%;
  height: 60px;
  padding: 1px 0;
  border: 2px solid black;
  text-align: center;
}
.question-item21 {
  position: absolute;
  border-radius: 5px;
  left: 4%;
  top: 55px;
  width: 45%;
  height: 60px;
  padding: 1px 0;
  border: 2px solid black;
  text-align: center;
}
.question-item22 {
  position: absolute;
  border-radius: 5px;
  left: 4%;
  top: 110px;
  width: 45%;
  height: 60px;
  padding: 1px 0;
  border: 2px solid black;
  text-align: center;
}
.question-item23 {
  position: absolute;
  border-radius: 5px;
  left: 4%;
  top: 165px;
  width: 45%;
  height: 60px;
  padding: 1px 0;
  border: 2px solid black;
  text-align: center;
}
.question-item24 {
  position: absolute;
  border-radius: 5px;
  left: 4%;
  top: 220px;
  width: 45%;
  height: 60px;
  padding: 1px 0;
  border: 2px solid black;
  text-align: center;
}
.question-item25 {
  position: absolute;
  border-radius: 5px;
  left: 4%;
  top: 275px;
  width: 45%;
  height: 60px;
  padding: 1px 0;
  border: 2px solid black;
  text-align: center;
}
.question-item26 {
  position: absolute;
  border-radius: 5px;
  left: 4%;
  top: 330px;
  width: 45%;
  height: 60px;
  padding: 1px 0;
  border: 2px solid black;
  text-align: center;
}
.question-item27 {
  position: absolute;
  border-radius: 5px;
  left: 52%;
  width: 45%;
  height: 60px;
  padding: 1px 0;
  border: 2px solid black;
  text-align: center;
}
.question-item28 {
  position: absolute;
  border-radius: 5px;
  left: 52%;
  top: 55px;
  width: 45%;
  height: 60px;
  padding: 1px 0;
  border: 2px solid black;
  text-align: center;
}
.question-item29 {
  position: absolute;
  border-radius: 5px;
  left: 52%;
  top: 110px;
  width: 45%;
  height: 60px;
  padding: 1px 0;
  border: 2px solid black;
  text-align: center;
}
.question-item210 {
  position: absolute;
  border-radius: 5px;
  left: 52%;
  top: 165px;
  width: 45%;
  height: 60px;
  padding: 1px 0;
  border: 2px solid black;
  text-align: center;
}
.question-item211 {
  position: absolute;
  border-radius: 5px;
  left: 52%;
  top: 220px;
  width: 45%;
  height: 60px;
  padding: 1px 0;
  border: 2px solid black;
  text-align: center;
}
.question-item212 {
  position: absolute;
  border-radius: 5px;
  left: 52%;
  top: 275px;
  width: 45%;
  height: 60px;
  padding: 1px 0;
  border: 2px solid black;
  text-align: center;
}
.question-item213 {
  position: absolute;
  border-radius: 5px;
  left: 52%;
  top: 330px;
  width: 45%;
  height: 60px;
  /* padding: 0px 0 30px 0; */
  border: 2px solid black;
  text-align: center;
}
.question-item214 {
  position: absolute;
  border-radius: 5px;
  left: 52%;
  top: 385px;
  width: 45%;
  height: 60px;
  /* padding: 1px 0; */
  border: 2px solid black;
  text-align: center;
}

/* .question-item1 {
  position: absolute;
  border-radius: 5px;
  width: 47%;
  height: 40px;
  padding: 1px 0;
  border: 0.5px solid black;
  text-align: center;
  right: 0.2%;
}
.question-item2 {
  position: absolute;
  border-radius: 5px;
  width: 47%;
  height: 40px;
  padding: 1px 0;
  border: 0.5px solid black;
  text-align: center;
  top: 80px;
}
.question-item3 {
  position: absolute;
  border-radius: 5px;
  width: 47%;
  height: 60px;
  padding: 1px 0;
  border: 0.5px solid black;
  text-align: center;
  right: 0.2%;
  top: 80px;
} */

/* .question-item1:hover {
  background-color: #40444c;
  color: white;
}
.question-item2:hover {
  background-color: #40444c;
  color: white;
}
.question-item3:hover {
  background-color: #40444c;
  color: white;
} */

.question-instruction2 {
  font-weight: bold;
  margin: 0px;
  padding: 0px 0px 0px 15px;
  font-size: 30px;
}

.game-options {
  position: relative;
  margin: 2vh;
  padding: 1vh;
}

/* .question-div{
    border-radius: 5px;
    width: 93%;
    margin: 10px;
    height: 60px;
    padding: 1px 0;
    border: 0.5px solid black;
    text-align: center;
} */

.game-microphone2 {
  position: relative;
  font-weight: bold;
  top: 10vh;
  left: 0.2vw;
  height: 30px;
  /* width: 7vw; */
  background: white;
  border: 2px solid rgba(76, 255, 116, 0.8);
  transition: 0.3s;
}
.game-submit2 {
  position: relative;
  font-weight: bold;
  top: 0.1vh;
  left: 89%;
  height: 6vh;
  width: 7vw;
  border-radius: 10px;
  background: #40444c;
  border: 2px solid #40444c;
  /* transition: 0.4s; */
  color: white;
}
.game-submit2:hover {
  background: black;
  color: white;
}
.hand2 {
  width: 40px;
  position: absolute;
  top: 175px;
  left:4.5%;
}
