.Dashboard__main--div {
  overflow-y: hidden;
  overflow-x: hidden;
  background-size: cover;
  background-position: center;
  background-image: url("../../resources/images/bg-image.svg");
  height: 120vh;
  position: relative;
}
.teamDetails {
  position: absolute;
  width: 21%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.17);
  backdrop-filter: blur(30px);
}

.startTime {
  position: absolute;
  width: 62%;
  height: 54px;
  top: 36px;
  left: 20%;
  padding: 0px;
  margin: 0% 5%;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 150%;
  line-height: 54px;
  /* identical to box height */

  color: #2c3030;
}
.time {
  position: absolute;
  width: 253px;
  height: 75px;
  top: 99px;
  left: 24%;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 200%;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  line-height: 75px;
  margin: 0%;
  /* identical to box height */

  color: #2c3030;
}
.hr {
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0px;
  top: 216px;

  background: linear-gradient(
    180deg,
    rgba(76, 255, 116, 0.8) -69.23%,
    rgba(0, 223, 192, 0.8) 217.69%
  );
  backdrop-filter: blur(31px);
}
.yteam {
  position: absolute;
  height: 54px;
  left: 20%;
  right: auto;
  top: 25%;
  font-style: normal;
  font-weight: bold;
  font-size: 120%;
  /* identical to box height */
  color: #000000;
}
.tname {
  position: relative;
  width: 100%;
  height: 0px;
  left: 30%;
  top: 35vh;
  margin-top: 3.2vh;
  /* padding-top: 10px; */
  font-family: Poppins;
  font-weight: normal;
  font-size: 125%;
  padding-bottom: 50px;
  /* margin-left: 10px; */
  /* identical to box height */
  color: #000000;
}

.tbox {
  position: relative;
  width: 300%;
  height: 100vh;
  left: 140%;
  bottom: 28%;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(30px);
  /* Note: backdrop-filter has minimal browser support */
  border-style: solid;
  border-radius: 15px;
  border-color: #00dfc0;
  border-width: 5px;
}
.rhead {
  position: absolute;
  width: 100%;
  height: 72px;
  left: 5%;
  top: 40px;
  margin: 0%;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 72px;
  /* identical to box height */

  color: #000000;
}
.inst {
  position: absolute;
  width: 209px;
  height: 54px;
  left: 5%;
  margin: 0px;
  padding: 0px;
  top: 90px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 54px;
  /* identical to box height */
  color: #000000;
}
.content {
  position: absolute;
  width: 90%;
  height: 10%;
  left: 5%;
  top: 20%;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  margin: 0px;
  color: #000000;
}
.stbtn {
  position: absolute;
  width: 25%;
  height: 74.99px;
  left: 70%;
  bottom: 1%;
  /* gd3 */

  background: linear-gradient(
    180deg,
    rgba(76, 255, 116, 0.8) -69.23%,
    rgba(0, 223, 192, 0.8) 217.69%
  );
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.15);
  border-radius: 11.5963px;
  border-color: #6fe187;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 38.6544px;
  line-height: 45px;
  text-transform: uppercase;
  color: white;
}
.contactus {
  position: absolute;
  width: 100%;
  height: 36px;
  left: 25%;
  bottom: 1%;

  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  letter-spacing: 0.03em;

  color: #000000;
}
.hr2 {
  position: absolute;
  width: 80%;
  height: 4px;
  left: 10%;
  bottom: 80px;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(31px);
}
.t1v1 {
  position: absolute;
  top: 37vh !important;
  left: 10% !important;
  width: 45px;
  border-radius: 100%;
}
.t1v2 {
  position: absolute;
  top: 47%;
  left: 11.5%;
}
.t1v3 {
  position: absolute;
  top: 49%;
  left: 15%;
}
.t1v4 {
  position: absolute;
  top: 34.5vh;
  left: 7%;
  z-index: -1;
}
.t2v1 {
  position: absolute;
  top: 47vh !important;
  left: 10% !important;
  width: 45px;
  border-radius: 100%;
}
.t2v2 {
  position: absolute;
  top: 435.54px;
  left: 11.5%;
}
.t2v3 {
  position: absolute;
  top: 414px;
  left: 15%;
}
.t3v1 {
  position: absolute;
  top: 57vh !important;
  left: 10% !important;
  width: 45px;
  border-radius: 100%;
}
.t3v2 {
  position: absolute;
  top: 495.54px;
  left: 11.5%;
}
.t3v3 {
  position: absolute;
  top: 474px;
  left: 15%;
}
.t4v1 {
  position: absolute;
  top: 67vh !important;
  left: 10% !important;
  width: 45px;
  border-radius: 100%;
}
.t4v2 {
  position: absolute;
  top: 555.54px;
  left: 11.5%;
}
.t4v3 {
  position: absolute;
  top: 534px;
  left: 15%;
}
.elp {
  position: absolute;
  width: 63px;
  height: 63px;
  left: 103%;
  top: 250px;
}
.aro {
  position: absolute;
  left: 105%;
  top: 261px;
}
.min {
  position: absolute;
  width: 68px;
  height: 27px;
  left: 90%;
  top: 10%;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  color: #797979;
}
/* 
input {
  font: inherit;
  background-color: #a197da;
  color: white;
  border-radius: 4px;
  border: 1px solid white;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}
label {
  display: block;
  color: black;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #9f5ccc;
  border: 1px solid #9f5ccc;
  border-radius: 4px;
  padding: 0.2rem 1.5rem;
}
button:hover {
  background-color: #8b10dd;
  border-color: #873abb;
}

.createTeamButton{
  margin-top:40px;
  position: relative;
  left: 25%;
  padding: 0.5rem 1.5rem;
} */
